.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 8px;
}

.gallery-section {
  padding: 60px 0;
}

.search-btn {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #27ae60;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.gallery__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}
